@font-face {
    font-family: font1;
    src: url(/font/pxiEyp8kv8JHgFVrJJfecg.woff2);
}
@font-face {
    font-family: font2;
    src: url(/font/CooperLtBTWXXLight.woff2);
}
@font-face {
    font-family: font3;
    src: url(/font/pro-fa-brands-400-5.0.0.woff2);
}


*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: relative;
}
#page1 {
    font-family: font1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page1 img{
    transition: margin 0.8s ease ;
}
#page1 img:hover{
    margin-top: -35px;
}
#page1 h1{
    font-size: 5vw;
    font-weight: 100;
    text-align: center;
    z-index: 99;
    width: 60%;
    text-transform: capitalize;
}
#page1 h1::after{
    content: "";
    position: absolute;
    width: 37%;
    height: 16px;
    bottom: -10%;
    left: 50%;
    background-size: cover;
    background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
    transform: translate(-50%, -50%);
}
#page1 #img1{
    height: 490px;
    width: 360px;
    position: absolute;
    left: 7%;
    top: 20%;
    object-fit: cover;
    object-position: top;
}
#page1 #img2{
    height: 220px;
    width: 250px;
    position: absolute;
    right: 25%;
    top: 18%;
}
#page1 #img3{
    height: 310px;
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 8%;
}
#nav{
    font-family: font2;
    height: 100px;
    width: 100%;
    /* position: fixed;
    z-index: 105; */
    background-color:#fff;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
#nav svg{
    height: 4vh;
    color: black;
}
#nav #part2{
    align-items: center;
    display: flex;
    align-self: center;
    justify-content: center;
}
#nav #part2 a{
    text-decoration: none;
    color: #222;
    font-size: 20px;
    font-weight: 500;
    margin: 20px;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
#nav #part2 a:hover{
    text-decoration: underline #00EB8F;
}
#nav #part2 a:nth-child(6){
    padding: 7px 18px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    border: 1px solid #000;
}
#nav #part2 a:nth-child(6) #green{
    width: 100%;
    height: 100%;
    background-color:#00EB8F;
    position: absolute;
    top: 0;
    left: -100%;
    transition: left 0.4s ease;
}
#nav #part2 a:nth-child(6) h5{
    font-weight: 100;
    position: relative;
    z-index: 99;
}
#nav #part2 a:nth-child(6):hover #green{
    left: 0;
}

#page2{
    border-top-left-radius: 120px; 
    border-top-right-radius: 120px; 
    height: 90vh;
    width: 100%;
    background-color: #000;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
}
#page2 h5{
    font-family: font2;
    font-size: 19px;
    /* font-family: "gliroy"; */
    font-weight: 500;
    position: relative;
}
#page2 h5::before{
    content: "";
    position: absolute;
    left: -5%;
    top: 20%;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color:#00EB8F;
}
#page2 h1{
    font-size: 49px;
    font-weight: 500;
    font-family: font2;
    margin: 46px 0;
    width: 70%;
    text-align: center;
    font-size: 100;
    position: relative;
}
#page2 h1::after{
    content:"";
    position: absolute;
    height: 70px;
    width: 280px;
    bottom: -3%;
    left: 35%;
    background-image: url(https://thisisdigital.co.uk/dist/images/circle-green.svg);
}
#about-us{
    display: flex;
    align-items: center;
}
#about-us>h4{
    font-size: 28px;
    font-family: font2;
    font-weight: 500;
}
#greendiv{
    height: 32px;
    width: 80px;
    border: 2px solid ;
    border-radius: 50px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#greendiv .ri-arrow-right-line{
    font-size: 28px;
    font-weight: 100;
}
#page3{
    height: 150vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}
#box1{
    width: 50%;
    display: flex;
}
#min-box1{
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 50px;
}
#min-box1 #img4{
    border-bottom-right-radius: 10px;
    width: 13vw;
    object-fit: cover;
    height: 100vh;
}
#min-box1 #img5{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 13vw;
    object-fit: cover;
    height: 40vh;
}
#min-box2{
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
#min-box2 #img6{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 20vw;
    object-fit: cover;
    height: 40vh;
}
#min-box2 #img7{
    width: 35vw;
    border-radius: 20px;
    object-fit: cover;
    height: 105vh;
}
#box2{
    padding: 20px 70px;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 50px;
}
#box2 h1{
    font-size: 8vh;
    font-weight: 600;
    font-family: font2;
}

#box2 #text2 h5{
    font-family: font1;
    font-size: 1.2vw;
    font-weight: 500;
    word-spacing: 1vw;
}
#box2 #text3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#box2 #text3 #logo img{
    object-fit: cover;
    object-position: top;
    width: 4vw;
    height: 8vh;
    border-radius: 50%;
}
#box2 #text3 h2{
    font-family: font1;
    font-size: 3.5vh;
    font-weight: 500;
}
#box2 #text3 a {
    text-decoration: none;
    color: #222;
    margin: 20px;
    padding: 6.5px 12px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    border: 1px solid #000;
    transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

#box2 #text3 a:hover {
    color: #f7f8f8;
}

#box2 #text3 a:hover #green {
    left: 0;
}

#box2 #text3 #green {
    width: 100%;
    height: 100%;
    background-color: #00EB8F;
    position: absolute;
    top: 0;
    left: -100%;
    transition: left 0.4s ease;
}

#box2 #text3 a h4 {
    font-family: font1;
    font-size: 1vw;
    font-weight: 100;
    position: relative;
    z-index: 102;
}
#page4{
    height: 50vh;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
}
#page4 h1{
    font-family: font2;
    position: relative;
    text-align: center;
    width: 70%;
    font-size: 4vw;
    font-weight: 500;
}
#page4 h1::after{
    content: "";
    position: absolute;
    top: -6.5%;
    left: 22.3%;
    background-image: url(https://thisisdigital.co.uk/dist/images/circle-green.svg);
    height: 14vh;
    width: 10vw;
}
#page5{
    height: 60vh;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
#logo1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 100px;
    padding: 10vh 0 ;
    justify-content: space-around;
}
#page5 #logo1 img:nth-child(1){
    width: 10vw;
    height:6.3vh;
}
#page5 #logo1 img:nth-child(2){
    width: 10vw;
    height:6.3vh;
}
#page5 #logo1 img:nth-child(3){
    width: 10vw;
    height:6.3vh;
}
#page5 #logo1 img:nth-child(4){
    width: 10vw;
    height:6.3vh;
}
#page5 #logo1 img:nth-child(5){
    width: 10vw;
    height:6.3vh;
}